package components

templ DemoButtons() {
    <section class="design-system-section button">
        <h2>Buttons</h2>
        <div class="enabled">
            <h3>Enabled</h3>
            <button>Default</button>
            <button class="normal">Normal</button>
            <button class="brand">Brand</button>
            <button class="success">Success</button>
            <button class="warning">Warning</button>
            <button class="error">Error</button>
        </div>
        <div class="disabled">
            <h3>Disabled</h3>
            <button disabled>Default</button>
            <button disabled class="normal">Normal</button>
            <button disabled class="brand">Brand</button>
            <button disabled class="success">Success</button>
            <button disabled class="warning">Warning</button>
            <button disabled class="error">Error</button>
        </div>
    </section>
}
