package components

import (
	"github.com/jfkonecn/gophitect/internal/config"
)

type page int

const (
	PageIndex page = iota
	PageCounter
	PageMonitor
	PageReverse
	PageSortable
	PageDesignSystem
)

templ Navigation(page page) {
	<nav class="main-nav">
		<ul class="main-nav-links">
			<li><a class={templ.KV("active", page == PageIndex)} href="/">Home</a></li>
			<li><a class={templ.KV("active", page == PageCounter)} href="/counter">Counter</a></li>
			<li><a class={templ.KV("active", page == PageMonitor)} href="/monitor">Monitor</a></li>
			<li><a class={templ.KV("active", page == PageReverse)} href="/reverse">Reverse</a></li>
			<li><a class={templ.KV("active", page == PageSortable)} href="/sortable">Sortable</a></li>
			if config.Global.Environment == config.Dev {
                <li><a class={templ.KV("active", page == PageDesignSystem)} href="/design-system">Design System</a></li>
			}
		</ul>
        <ul>
			<li>
                <input
                    class="theme-switch"
                    type="checkbox"
                    data-init="el.checked = $theme === 'dark'"
                    data-on:change="$theme = evt.target.checked ? 'dark' : 'light'"
                    />
            </li>
        </ul>
	</nav>
}
